body{
    margin: 0;
    display: flex;
    flex-direction: column;
}

.firstSection {
    background-color: #1f2937;
    display: flex;
    flex-direction: column;
    padding: 0 30px;
}

.header {
    padding: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 100px;
}

.headerLinks {
    display: flex;
    justify-content: space-between;
}

.firstContent {
    padding: 50px;
    justify-content: center;
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}

.firstLeft {
    width: 400px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.firstRight {
    align-items: center;
    width: 400px;
    display: flex;
}

img {
    width: 400px;
    height: auto;
}

.heroText {
    color: #F9FAF8;
    font-weight: 900;
    font-size: 48px;
}

.heroSecondaryText {
    font-size: 18px;
    color: #E5E7EB;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
}

.signUp {
    background-color: #3882F6;
    border: 2px solid #3882F6;
    border-radius: 20px;
    width: 100px;
    color: #F9FAF8;
    transition-duration: 0.4s;
}

.signUp:hover {
    background-color: white; 
    color: #3882F6;
}